[Unit]
Description= discord streamer notification bot in go
After=network.target

[Service]
Type=simple
ExecStart=/root/work/src/discordBot.sh
Restart=always

[Install]
WantedBy=multi-user.target

