[Unit]
Description=chatter logging server in python via tornado
After=network.target

[Service]
Type=simple
ExecStart= /opt/modd/logPopularChatters.sh
Restart=always

[Install]
WantedBy=multi-user.target
