[Unit]
Description=retention server in python via tornado
After=network.target

[Service]
Type=simple
ExecStart= /var/opt/retentionStartup.sh
Restart=always

[Install]
WantedBy=multi-user.target
