[Unit]
Description= help request irc bot
After=network.target

[Service]
Type=simple
ExecStart= /usr/local/bin/webhook.sh
Restart=always

[Install]
WantedBy=multi-user.target
